<nav>
  <ul>
    <li><%= link_to 'Parks', parks_path %></li>
    <li><%= link_to 'New Parks', new_park_path %></li>
    <li><%= link_to 'Rangers', rangers_path %></li>
    <li><%= link_to 'New Rangers', new_ranger_path %></li>
  </ul>
</nav>
